@page "/cadastrar"
@layout LoginLayout
@inherits RegisterPage

<PageTitle>TVS - Cadastrar</PageTitle>

<MudGrid Justify="Justify.Center" Class="d-flex align-content-center">
    <MudItem xs="12" sm="12" md="10" lg="10" xl="11" xxl="10" Style="height: 80vh;">
        <MudPaper Class="mud-width-full d-flex" Style="border-radius: 12px; overflow: hidden; min-width: 100%; min-height: 100%;" Elevation="12">
            <MudItem xs="12" sm="5" Style="background-color: #bf0603; text-align: center;" Class="d-flex justify-center align-center flex-column pa-8">
                <h1 style=" color: white; font-size: 3em">Bem-vindo de volta!</h1>
                <p style="margin-bottom: 1em; color: lightgray; font-size: 1.2em">Para manter-se conectado conosco, faça login com suas informações pessoais</p>
                <MudButton Href="/entrar" Variant="Variant.Outlined" Color="Color.Secondary" StartIcon="@Icons.Material.Outlined.Login" Size="Size.Large">Entrar</MudButton>
            </MudItem>
            <MudItem xs="12" sm="7" Style="text-align: center;" Class="d-flex justify-center align-center flex-column pa-12">
                <h1 style="color: #bf0603; font-size: 3em">Criar Conta</h1>
                <EditForm Model="request" OnValidSubmit="OnValidSubmitAsync" Style="width: 90%;">
                    <DataAnnotationsValidator/>

                    <MudTextField
                        T="string"
                        Label="Nome"
                        HelperText="Campo obrigatório"
                        InputType="InputType.Text"
                        For="@(() => request.FullName)"
                        @bind-Value="request.FullName"
                        Class="w-auto"/>
                    
                    <MudTextField
                        T="string"
                        Label="E-mail"
                        HelperText="Campo obrigatório"
                        InputType="InputType.Email"
                        For="@(() => request.Email)"
                        @bind-Value="request.Email"
                        Class="w-auto"/>

                    <MudTextField
                        T="string"
                        Label="Senha"
                        HelperText="Campo obrigatório"
                        InputType="InputType.Password"
                        For="@(() => request.Password)"
                        @bind-Value="request.Password"
                        Style="width: 100%;"/>

                    <MudTextField
                        T="string"
                        Label="Digite a senha novamente"
                        HelperText="Campo obrigatório"
                        InputType="InputType.Password"
                        For="@(() => request.ConfirmPassword)"
                        @bind-Value="request.ConfirmPassword"
                        Style="width: 100%;"/>
                    
                    <div class="d-flex mt-8">
                        @if (IsBusy == true)
                        {
                            <MudProgressCircular Color="Color.Info" Indeterminate="true" />
                        }
                        else
                        {
                            <MudButton
                                ButtonType="ButtonType.Submit"
                                Variant="Variant.Filled"
                                Color="Color.Primary">
                                <span style="color: #ffffff;">CADASTRAR</span>
                            </MudButton>
                        }
                    </div>
                </EditForm>
            </MudItem>
        </MudPaper>
    </MudItem>
</MudGrid>
