@page "/loja"
@using global::Loja.Core.Models
@inherits LojaPage
<PageTitle>TVS - Home</PageTitle>

<div class="produtos">
    @if (IsBusy)
    {
        <MudProgressCircular Size="Size.Large" Class="align-self-center" Color="Color.Info" Indeterminate="true" />
    }
    else
    {
        <div class="div-filtro-produto">
            <section class="filtro-section">
                <MudTextField  
                    @bind-Value="Busca"
                    Immediate="true"
                    Label="Buscar..."
                    Variant="Variant.Outlined"
                    Adornment="Adornment.End"
                    AdornmentIcon="@Icons.Material.Filled.Search"
                    AdornmentColor="Color.Primary"
                    Class="custom-label"/>
                
                <MudText Typo="Typo.h6">Filtrar TVs</MudText>

                <MudCheckBox T="bool" Label="Samsung" Color="Color.Primary" @bind-Value="FiltroSamsung"/>
                <MudCheckBox T="bool" Label="LG" Color="Color.Primary" @bind-Value="FiltroLG"/>
                <MudCheckBox T="bool" Label="Sony" Color="Color.Primary" @bind-Value="FiltroSony"/>
                <MudCheckBox T="bool" Label="TCL" Color="Color.Primary" @bind-Value="FiltroTCL"/>
                <MudCheckBox T="bool" Label="Philco" Color="Color.Primary" @bind-Value="FiltroPhilco"/>
                <MudCheckBox T="bool" Label="Philips" Color="Color.Primary" @bind-Value="FiltroPhilips"/>
                <MudCheckBox T="bool" Label="AOC" Color="Color.Primary" @bind-Value="FiltroAOC"/>
                <MudCheckBox T="bool" Label="Toshiba" Color="Color.Primary" @bind-Value="FiltroToshiba"/>

                <hr class="custom-hr-produto"/>

                <MudText>Preço máximo: R$ @PrecoMax.ToString("N0")</MudText>
                <MudSlider Size="Size.Small" Min="1000" Max="10000" Step="500" @bind-Value="PrecoMax"/>

            </section>
            
            <section class="busca-filtro-celular">
                <section class="busca-celular">
                    <MudTextField
                        @bind-Value="Busca"
                        Immediate="true"
                        Label="Buscar..."
                        Variant="Variant.Outlined"
                        Adornment="Adornment.End"
                        AdornmentIcon="@Icons.Material.Filled.Search"
                        AdornmentColor="Color.Primary"
                        Class="custom-label"/>
                </section>
                <section class="filtro-celular">
                    <MudButton OnClick="@ToggleDrawer" Style="width: 100%; height: 100%" StartIcon="@Icons.Material.Filled.FilterList" Color="Color.Primary">
                        Filtrar
                    </MudButton>
                </section>
            </section>

            <section class="produtos-section">
                @if (TVsFiltradas.Count == 0)
                {
                    <div style="display: flex; flex-direction: column; width: 100%; height: 40%; align-items: center; justify-content: center;">
                        <h1 class="titulo-produto-page">Nenhum produto encontrado.</h1>
                        <p class="contato-texto">Tente outra marca...</p>
                    </div>
                }
                @foreach (var produto in TVsFiltradas)
                {
                    <MudItem>
                        <MudCard class="mudcard-principal-home">
                            <NavLink href="@($"/produto/{produto.Slug}")">
                                <MudCardContent class="mudcardcontent-principal-home">
                                    <h5 class="frete-info">FRETE GRÁTIS / 6x s/juros</h5>
                                    <h3 class="titulo-produto-homepage">@produto.Titulo</h3>
                                </MudCardContent>
                            </NavLink>

                            <MudCarousel class="carrossel-home" ShowArrows="true" EnableSwipeGesture="true" TData="Imagem" Indicators="true">
                                @foreach (var imagem in produto.Imagens)
                                {
                                    var imagemUrl = $"{WebConfiguration.BackendUrl}{imagem.Url}";
                                    <MudCarouselItem class="carrossel-item-home">
                                        <img class="img-produto-carrossel-home" src="@imagemUrl" alt="sla"/>
                                    </MudCarouselItem>
                                }
                            </MudCarousel>

                            <MudCardContent Class="mudcardcontent-info-home">
                                <p class="produto-preco-antigo">De R$ @produto.Preco.ToString("F2")</p>
                                <p class="produto-preco-novo">Por R$ @produto.Preco.ToString("F2")</p>
                                <p class="desconto-pix">No PIX (5% de desconto)</p>
                                <p class="sem-juros-texto">Ou R$ @produto.Preco.ToString("F2") em até 6x s/ juros no cartão</p>

                                <div class="div-mudbuttons-comprar-carrinho">
                                    @if (_userLoggedIn)
                                    {
                                        <MudButton href="@($"/checkout/produto-{produto.Slug}")" Color="Color.Primary" Variant="Variant.Filled" Class="mudbutton-comprar" Style="color: white;">
                                            COMPRAR
                                        </MudButton>
                                    }
                                    else
                                    {
                                        <MudButton href="/entrar" Color="Color.Primary" Variant="Variant.Filled" Class="mudbutton-comprar" Style="color: white;">
                                            COMPRAR
                                        </MudButton>
                                    }

                                    <MudButton OnClick="() => AdicionarAoCarrinho(produto.Id)" Color="Color.Primary" Variant="Variant.Outlined" Class="mudbutton-carrinho">
                                        Adicionar ao Carrinho
                                    </MudButton>
                                </div>
                            </MudCardContent>
                        </MudCard>
                    </MudItem>
                }
            </section>
        </div>
    }
</div>

<MudDrawerContainer Class="mud-height-full">
    <MudDrawer Class="muddrawer-total" @bind-Open="@_open" Style="@(_open ? "position: fixed; top: 0; left: 0; height: 100vh; z-index: 1050; overflow-y: auto;" : "")" Width="300px" Fixed="true" Anchor="Anchor.Start" Elevation="1" Variant="DrawerVariant.Temporary" ClipMode="DrawerClipMode.Never" Overlay="false" OverlayAutoClose="true">
        <MudNavMenu Style="padding: 10px;">
            <section class="filtro-section-celular">
                <MudTextField
                    @bind-Value="Busca"
                    Immediate="true"
                    Label="Buscar..."
                    Variant="Variant.Outlined"
                    Adornment="Adornment.End"
                    AdornmentIcon="@Icons.Material.Filled.Search"
                    AdornmentColor="Color.Primary"
                    Class="custom-label"/>

                <MudText Typo="Typo.h6">Filtrar TVs</MudText>

                <MudCheckBox T="bool" Label="Samsung" Color="Color.Primary" @bind-Value="FiltroSamsung"/>
                <MudCheckBox T="bool" Label="LG" Color="Color.Primary" @bind-Value="FiltroLG"/>
                <MudCheckBox T="bool" Label="Sony" Color="Color.Primary" @bind-Value="FiltroSony"/>
                <MudCheckBox T="bool" Label="TCL" Color="Color.Primary" @bind-Value="FiltroTCL"/>
                <MudCheckBox T="bool" Label="Philco" Color="Color.Primary" @bind-Value="FiltroPhilco"/>
                <MudCheckBox T="bool" Label="Philips" Color="Color.Primary" @bind-Value="FiltroPhilips"/>
                <MudCheckBox T="bool" Label="AOC" Color="Color.Primary" @bind-Value="FiltroAOC"/>
                <MudCheckBox T="bool" Label="Toshiba" Color="Color.Primary" @bind-Value="FiltroToshiba"/>

                <hr class="custom-hr-produto"/>

                <MudText>Preço máximo: R$ @PrecoMax.ToString("N0")</MudText>
                <MudSlider Size="Size.Small" Min="1000" Max="10000" Step="500" @bind-Value="PrecoMax"/>

            </section>
        </MudNavMenu>
    </MudDrawer>
</MudDrawerContainer>


