@page "/"
@using global::Loja.Core.Models
@inherits HomePage

<div class="background-home-page">
    <div style="display: flex; flex-direction: column; width: 500px; margin-left: 85px;">
        <section style="margin-bottom: 5px;"><p class="aproveite-background">APROVEITE JÁ</p></section>
        <section style="margin-bottom: 20px;">
            <h1 class="titulo-background">TVs Usadas com Qualidade e Preço Baixo!</h1></section>
        <section style="margin-bottom: 25px;">
            <p class="texto-background">Garanta já a sua TV usada em ótimo estado por um preço que cabe no seu bolso! Diversos modelos e tamanhos disponíveis. Aproveite antes que acabe!</p></section>

        <MudButton Href="/loja" Variant="Variant.Filled" Color="Color.Primary" FullWidth="false" Style="width: 200px; height: 50px;">
            <span class="comprar-agora">COMPRAR AGORA</span> <MudIcon Icon="@Icons.Material.Filled.ArrowRight" class="ml-2" />
        </MudButton>
    </div>
    <img src="images/TVeditada.PNG" style="width: 40%;"/>
</div>

<div class="sobre">
    <section class="section-texto-sobre">
        <h1 class="sobre-titulo">SOBRE NÓS</h1>
        <p class="sobre-subtitulo">Qualidade e Confiança em Assistência Técnica e Venda de Televisores há Mais de 30 Anos</p>
        <p class="paragrafo-sobre">A TVS ELETRÔNICA está há mais de 30 anos oferecendo excelência no conserto e venda de televisores. Localizada em Campo Largo, Paraná, somos referência em assistência técnica especializada, garantindo qualidade e confiabilidade para nossos clientes.</p>

        <p class="paragrafo-sobre">Somos assistência técnica autorizada Philco e Britânia, assegurando um serviço qualificado e alinhado aos padrões das principais marcas do mercado. Além disso, realizamos laudos técnicos para a Cocel e seguradoras, proporcionando suporte especializado para avaliações e reparos necessários.</p>

        <p class="paragrafo-sobre">Na TVS ELETRÔNICA, nosso compromisso é com a satisfação do cliente, oferecendo atendimento de qualidade, soluções rápidas e um serviço técnico de confiança.</p>

        <p><strong>📍 Campo Largo, Paraná</strong> | <strong>🔧 Mais de 30 anos de experiência</strong></p>
    </section>
    <section class="section-metas-sobre">
        <h1 class="metas-titulo">CONQUISTAS</h1>
        <ul class="metas-lista">
            <li><MudIcon Icon="@Icons.Material.Filled.ArrowForward" Color="Color.Secondary" />Mais de 1.000 vendas realizadas</li>
            <li><MudIcon Icon="@Icons.Material.Filled.ArrowForward" Color="Color.Secondary" />Mais de 65.000 orçamentos realizados</li>
            <li><MudIcon Icon="@Icons.Material.Filled.ArrowForward" Color="Color.Secondary"/>Mais de 30.000 consertos concluídos</li>
            <li><MudIcon Icon="@Icons.Material.Filled.ArrowForward" Color="Color.Secondary" />Empresa autorizada Philco</li>
        </ul>
    </section>
</div>

