@page "/"
@inherits HomePage

@if (IsBusy == true)
{
    
}
else
{
    <div class="background-home-page">
        <div class="background-home-text">
            <section style="margin-bottom: 5px;"><p class="aproveite-background">APROVEITE JÁ</p></section>
            <section style="margin-bottom: 20px;">
                <h1 class="titulo-background">TVs Usadas com Qualidade e Preço Baixo!</h1></section>
            <section style="margin-bottom: 25px;">
                <p class="texto-background">Garanta já a sua TV usada em ótimo estado por um preço que cabe no seu bolso! Diversos modelos e tamanhos disponíveis. Aproveite antes que acabe!</p></section>

            <MudButton Href="/loja" Variant="Variant.Filled" Color="Color.Primary" FullWidth="false" Style="width: 200px; height: 50px;">
                <span class="comprar-agora">COMPRAR AGORA</span> <MudIcon Icon="@Icons.Material.Filled.ArrowForward" Color="Color.Secondary" class="ml-2" />
            </MudButton>
        </div>
        <img class="img-background" src="images/tv-image-4k.webp" style="width: 40%;"/>
        <img class="img-background-celular" src="images/videoframe_4403-Photoroom.png" style="width: 40%;"/>
    </div>

<div class="nosso-foco">
    <h1 data-aos="fade-up" data-aos-duration="1000" class="sobre-titulo">NOSSO FOCO</h1>
    <section class="nosso-foco-banners">
        <div data-aos="flip-right" data-aos-duration="1000" class="nosso-foco-banner">
            <img src="images/ferramenta-image.png" style="width: 200px;"/>
            <h2 class="nosso-foco-titulo">Assistência Técnica Especializada</h2>
            <p class="nosso-foco-texto">Somos autorizados Philco e Britânia, oferecendo reparos com peças originais e técnicos qualificados.</p>
        </div>
        <div data-aos="flip-up" data-aos-duration="1000" class="nosso-foco-banner">
            <img src="images/pngtree-electronics-tv-illustration-image_1430590-Photoroom.png" style="width: 200px"/>
            <h2 class="nosso-foco-titulo">Venda de Televisores Confiáveis</h2>
            <p class="nosso-foco-texto">Trabalhamos com produtos revisados e garantimos qualidade em cada venda. Produtos com garantia de 1 ano.</p>
        </div>
        <div data-aos="flip-left" data-aos-duration="1000" class="nosso-foco-banner">
            <img src="images/istockphoto-1286244940-612x612-removebg-preview.png" style="width: 200px"/>
            <h2 class="nosso-foco-titulo">Rapidez e Eficiência</h2>
            <p class="nosso-foco-texto">Realizamos orçamentos ágeis e entregamos soluções e produtos no menor tempo possível.</p>
        </div>
    </section>
</div>

<hr class="custom-hr-home"/>

<div class="sobre">
    <section data-aos="fade-up" data-aos-duration="1000" class="section-texto-sobre">
        <h1 class="sobre-titulo">SOBRE NÓS</h1>
        <p class="sobre-subtitulo">Qualidade e Confiança em Assistência Técnica e Venda de Televisores há Mais de 30 Anos</p>
        <p class="paragrafo-sobre">A TVS ELETRÔNICA está há mais de 30 anos oferecendo excelência no conserto e venda de televisores. Localizada em Campo Largo, Paraná, somos referência em assistência técnica especializada, garantindo qualidade e confiabilidade para nossos clientes.</p>

        <p class="paragrafo-sobre">Somos assistência técnica autorizada Philco e Britânia, assegurando um serviço qualificado e alinhado aos padrões das principais marcas do mercado. Além disso, realizamos laudos técnicos para a Cocel e seguradoras, proporcionando suporte especializado para avaliações e reparos necessários.</p>

        <p class="paragrafo-sobre">Na TVS ELETRÔNICA, nosso compromisso é com a satisfação do cliente, oferecendo atendimento de qualidade, soluções rápidas e um serviço técnico de confiança.</p>

        <p><strong>📍 Campo Largo, Paraná</strong> | <strong>🔧 Mais de 30 anos de experiência</strong></p>
    </section>
    <section data-aos="fade-up" data-aos-duration="1000" class="section-metas-sobre">
        <h1 class="metas-titulo">CONQUISTAS</h1>
        <ul class="metas-lista">
            <li><MudIcon Icon="@Icons.Material.Filled.ArrowForward" Color="Color.Secondary" />Mais de 1.000 vendas realizadas</li>
            <li><MudIcon Icon="@Icons.Material.Filled.ArrowForward" Color="Color.Secondary" />Mais de 65.000 orçamentos realizados</li>
            <li><MudIcon Icon="@Icons.Material.Filled.ArrowForward" Color="Color.Secondary"/>Mais de 30.000 consertos concluídos</li>
            <li><MudIcon Icon="@Icons.Material.Filled.ArrowForward" Color="Color.Secondary" />Empresa autorizada Philco</li>
        </ul>
    </section>
</div>

<hr class="custom-hr-home"/>

<div class="entre-em-contato">
    <section data-aos="fade-up" data-aos-duration="1000" class="entre-em-contato-informacoes">
        <h1 class="contato-titulo">ENTRE EM CONTATO</h1>
        <h2 class="contato-subtitulo">📩 Fale Conosco - Estamos Aqui Para Ajudar!</h2>
        <p class="contato-texto">Tem alguma dúvida, precisa de um orçamento ou quer saber mais sobre nossos serviços? Entre em contato conosco pelo e-mail e teremos o prazer de atendê-lo.</p>
        <p class="contato-email">📧<span style="font-weight: bolder">E-mail:</span> tvseletronica@tvseletronica.com.br</p>
        <p class="contato-telefone">📞<span style="font-weight: bolder">Fone:</span> (41) 3292-3047</p>
        <p class="contato-texto">Nossa equipe está pronta para oferecer o melhor atendimento e solucionar suas dúvidas o mais rápido possível! 🚀</p>
    </section>
    
    <section data-aos="fade-up" data-aos-duration="1000" class="entre-em-contato-formulario">
        <MudForm Model="contato" Valid="valid" Style="width: 100%">
            <MudTextField FullWidth="true" Label="Nome" @bind-Value="contato.Nome" Required="true" RequiredError="O nome é obrigatório." Variant="Variant.Outlined" />

            <MudTextField FullWidth="true" Label="E-mail" @bind-Value="contato.Email" Required="true" RequiredError="O e-mail é obrigatório."
                          Variant="Variant.Outlined" Type="email" />

            <MudTextField FullWidth="true" Label="Mensagem" @bind-Value="contato.Mensagem" Required="true" RequiredError="A mensagem é obrigatória."
                          Variant="Variant.Outlined" Multiline="true" Rows="4" />

            <MudButton Style="width: 200px;" OnClick="EnviarFormulario" Disabled="valid" Color="Color.Primary" Variant="Variant.Filled" Class="mt-3">
                <span style="color: white">Enviar Mensagem</span>
            </MudButton>
        </MudForm>
    </section>
</div>

}
