@page "/carrinho"
@page "/carrinho/{Slug?}"
@using Loja.Core.Models
@inherits CarrinhoComponent

@if (IsBusy)
{
    <MudProgressCircular Color="Color.Info" Indeterminate="true" />
}
else
{
    <div class="carrinho">
        @if (!CarrinhoItens.Any())
        {
            <MudPaper class="carrinho-vazio-mudpaper">
                <h2 class="carrinho-vazio-titulo">CARRINHO VAZIO</h2>
                <img class="carrinho-vazio-img" src="images/5073073-nenhum-item-no-carrinho-de-compras-.jpg" alt="nenhum item encontrado no carrinho"/>
            </MudPaper>
        }
        else
        {
            <div class="div-principal-carrinho">

                @foreach (var Itens in CarrinhoItens)
                {
                    <MudCard class="mudpaper-carrinho">
                        <h4 class="produto-titulo">@Itens.Produto.Titulo</h4>
                        <hr class="custom-hr">
                        <MudCarousel Class="carrossel-produto-imagens" ShowArrows="true" EnableSwipeGesture="true" TData="Imagem" Indicators="true">
                            @foreach (var imagem in Itens.Produto.Imagens)
                            {
                                var imagemUrl = $"{WebConfiguration.BackendUrl}{imagem.Url}"; 
                                <MudCarouselItem Class="carrossel-item-home">
                                    <img class="img-carrossel-produto" src="@imagemUrl" alt="sla"/>
                                </MudCarouselItem>
                            }
                        </MudCarousel>
                        <hr class="custom-hr">
                        <MudCardContent class="mudcard-produto-info">
                            <p class="produto-preco-antigo">De R$ @Itens.Produto.Preco.ToString("F2")</p>
                            <p class="produto-preco-novo">Por R$ @Itens.Produto.Preco.ToString("F2")</p>

                            <MudButton class="botao-excluir-carrinho" Style="color: white;" OnClick="() => ExcluirDoCarrinho(Itens.Id)" Color="Color.Primary" Variant="Variant.Filled">
                                Excluir do carrinho
                            </MudButton>
                        </MudCardContent>
                    </MudCard>
                }
            </div>
            <div class="div-resumo-compra">
                <MudPaper class="resumo-compra-mudpaper">
                    <h3 class="resumo-compra-titulo">Resumo da compra</h3>
                    <hr class="custom-hr">
                    <div class="div-resumo-compra-quantidade-valor">
                        <p>Produto(s): @QuantidadeProdutos</p>
                        <p>R$ @Carrinho.ValorTotal.ToString("F2")</p>
                    </div>
                    <div class="div-resumo-compra-frete-valor">
                        <p>Frete(s):</p>
                        <p>Grátis</p>
                    </div>
                    <div class="div-resumo-compra-valortotal">
                        <h2>Total:</h2>
                        <h2>R$ @Carrinho.ValorTotal.ToString("F2")</h2>
                    </div>
                    <MudButton href="@($"/checkout/carrinho-{Carrinho.Slug}")" Style="color: white;" class="botao-continuar-resumo-compra" Color="Color.Tertiary" Variant="Variant.Filled">
                        Continuar a compra
                    </MudButton>
                </MudPaper>
            </div>
        }
    </div>
    
    <div class="div-principal-recomendacoes">
        <h2 class="titulo-recomendacoes">Recomendações para você</h2>
        <MudCarousel Class="carrossel-principal-recomendacoes" TData="Produto" ShowArrows="true" EnableSwipeGesture="true" Indicators="true">
            @foreach (var grupo in Produtos.Chunk(4))
            {
                <MudCarouselItem Class="carrossel-item-principal-recomendacoes">
                    @foreach (var itens in grupo)
                    {
                        <NavLink href="@($"/produto/{itens.Slug}")">
                            <MudItem>
                                <MudCard Class="mudcard-carrossel-item">
                                    <MudCardContent Class="mudcard-produto-titulo-recomendacoes">
                                        <h4 class="produto-titulo-recomendacoes">@itens.Titulo</h4>
                                    </MudCardContent>
                                    <hr class="custom-hr">
                                    <MudCarousel Class="carrossel-secundario-recomendacoes" ShowArrows="false" EnableSwipeGesture="true" TData="Imagem" Indicators="true">
                                        @foreach (var imagem in itens.Imagens)
                                        {
                                            var imagemUrl = $"{WebConfiguration.BackendUrl}{imagem.Url}";
                                            <MudCarouselItem Class="carrossel-item-secundario-recomendacoes">
                                                <img class="img-carrossel-produto-recomendacoes" src="@imagemUrl" alt="sla"/>
                                            </MudCarouselItem>
                                        }
                                    </MudCarousel>
                                    <hr class="custom-hr">
                                    <MudCardContent Class="mudcardcontent-produto-info-recomendacoes">
                                        <p class="produto-preco-antigo-recomendacoes">De R$ @itens.Preco.ToString("F2")</p>
                                        <p class="produto-preco-novo-recomendacoes">Por R$ @itens.Preco.ToString("F2")</p>
                                    </MudCardContent>
                                </MudCard>
                            </MudItem>
                        </NavLink>
                    }
                </MudCarouselItem>
            }
        </MudCarousel>
    </div>
    <div class="div-principal-recomendacoes-celular">
        <h2 class="titulo-recomendacoes">Recomendações para você</h2>
        <MudCarousel Class="carrossel-principal-recomendacoes" TData="Produto" ShowArrows="true" EnableSwipeGesture="true" Indicators="true">
            @foreach (var grupo in Produtos.Chunk(1))
            {
                <MudCarouselItem Class="carrossel-item-principal-recomendacoes">
                    @foreach (var itens in grupo)
                    {
                        <NavLink href="@($"/produto/{itens.Slug}")">
                            <MudItem>
                                <MudCard Class="mudcard-carrossel-item">
                                    <MudCardContent Class="mudcard-produto-titulo-recomendacoes">
                                        <h4 class="produto-titulo-recomendacoes">@itens.Titulo</h4>
                                    </MudCardContent>
                                    <hr class="custom-hr">
                                    <MudCarousel Class="carrossel-secundario-recomendacoes" ShowArrows="false" EnableSwipeGesture="true" TData="Imagem" Indicators="true">
                                        @foreach (var imagem in itens.Imagens)
                                        {
                                            var imagemUrl = $"{WebConfiguration.BackendUrl}{imagem.Url}";
                                            <MudCarouselItem Class="carrossel-item-secundario-recomendacoes">
                                                <img class="img-carrossel-produto-recomendacoes" src="@imagemUrl" alt="sla"/>
                                            </MudCarouselItem>
                                        }
                                    </MudCarousel>
                                    <hr class="custom-hr">
                                    <MudCardContent Class="mudcardcontent-produto-info-recomendacoes">
                                        <p class="produto-preco-antigo-recomendacoes">De R$ @itens.Preco.ToString("F2")</p>
                                        <p class="produto-preco-novo-recomendacoes">Por R$ @itens.Preco.ToString("F2")</p>
                                    </MudCardContent>
                                </MudCard>
                            </MudItem>
                        </NavLink>
                    }
                </MudCarouselItem>
            }
        </MudCarousel>
    </div>

}
