@page "/carrinho"
@page "/carrinho/{Slug?}"
@using Loja.Core.Models
@inherits CarrinhoComponent

@if (IsBusy)
{
    <MudProgressCircular Color="Color.Info" Indeterminate="true" />
}
else
{
    <div class="carrinho">
        @if (!CarrinhoItens.Any())
        {
            <div class="carrinho-vazio-mudpaper">
                <section class="carrinho-vazio-imagem">
                    <img class="carrinho-vazio-img" src="images/empty-cart.png" alt="nenhum item encontrado no carrinho"/>
                </section>
                <section class="carrinho-vazio-texto">
                    <h1 class="carrinho-vazio-titulo">Seu Carrinho Está <span style="color: #bf0603">Vazio!</span></h1>
                    <p class="carrinho-vazio-paragrafo">Adicione alguns produtos para continuar com o checkout.</p>
                </section>
                <MudButton Variant="Variant.Filled" Href="/loja" FullWidth="false" Style="width: 250px; min-height: 60px;" Color="Color.Primary"><span style="color: white; font-size: 1.1rem; font-weight: 500;">VOLTAR À LOJA</span></MudButton>
            </div>
        }
        else
        {
            <div class="div-principal-carrinho">
                <div class="carrinho-itens-container">
                    <section class="carrinho-itens-conteudo">
                        <section class="carrinho-titulo">
                            <h2 class="carrinho-h1">Carrinho</h2>
                            <h2 class="carrinho-h1">@Carrinho.CarrinhoItens.Count Itens</h2>
                        </section>
                        
                        <hr class="custom-hr-carrinho"/>

                        <table>
                            <thead>
                            <tr>
                                <th class="titulo-detalhes-produto">DETALHES DO PRODUTO</th>
                                <th class="titulo-quantidade">QUANTIDADE</th>
                                <th class="titulo-total">TOTAL</th>
                            </tr>
                            </thead>
                            <tbody>
                            @foreach (var produto in CarrinhoItens)
                            {
                                <tr>
                                    <td class="foto-titulo">
                                        <section>
                                            @if (produto.Produto.Imagens.Any())
                                            {
                                                var imagemUrl = $"{WebConfiguration.BackendUrl}{produto.Produto.Imagens.First().Url}";
                                                <img class="img-foto-titulo" src="@imagemUrl" alt="Imagem do produto" />
                                            }
                                        </section>
                                        <section class="titulo-botao">
                                            <p class="titulo-produto-carrinho">@produto.Produto.Titulo</p>
                                            <MudButton Class="botao-titulo-carrinho" FullWidth="false"  Size="Size.Small" OnClick="() => ExcluirDoCarrinho(produto.Id)"><span style="font-size: 0.7rem; color: gray">Remover</span></MudButton>
                                        </section>
                                    </td>
                                    <td class="coluna-quantidade">
                                        1
                                    </td>
                                    <td class="coluna-total">
                                        @produto.PrecoTotal.ToString("C")
                                    </td>
                                </tr>
                            }
                            </tbody>
                        </table>
                        
                        <hr class="custom-hr-carrinho"/>
                        
                        <section class="valor-total">
                            <h3 class="valor-total-texto">VALOR TOTAL</h3>
                            <h3 class="valor-total-preco">@Carrinho.ValorTotal.ToString("C")</h3>
                        </section>
                    </section>
                </div>
                <div class="concluir-carrinho-container">
                    <section class="concluir-carrinho-conteudo">
                        <h2 class="carrinho-resumo-h1">Resumo Do Pedido</h2>
                        <hr class="custom-hr-carrinho"/>
                        <section class="resumo-itens">
                            <p class="resumo-quantidade">ITENS: @Carrinho.CarrinhoItens.Count</p>
                            <p class="resumo-quantidade">@Carrinho.ValorTotal.ToString("C")</p>
                        </section>
                        <section class="codigo-resumo">
                            <p class="titulo-opcoes-envio">CÓDIGO PROMOCIONAL</p>
                            <MudTextField Style="background-color: white" @bind-Value="codigo" Label="Envio" Variant="Variant.Outlined">
                                
                            </MudTextField>
                            <MudButton FullWidth="false" Color="Color.Tertiary" Variant="Variant.Filled" Class="mudbutton-comprar" Style="color: white; width: 100px;">
                                APLICAR
                            </MudButton>
                        </section>
                        
                        <hr class="custom-hr-carrinho"/>
                        <MudButton href="@($"/checkout/carrinho-{Carrinho.Slug}")" Color="Color.Primary" Variant="Variant.Filled" Class="mudbutton-comprar" Style="color: white; width: 90%; align-self: center; min-height: 40px;">
                            <span style="padding: 10px">IR PARA O PAGAMENTO</span>
                        </MudButton>
                        
                    </section>
                </div>
            </div>
        }
    </div>
}
