@using Dima.Web.Services
@using Loja.Core.Models.Identity
@inherits MainLayoutPage

<MudThemeProvider Theme="WebConfiguration.theme"/>
<MudSnackbarProvider />
<MudDialogProvider/>
<MudPopoverProvider />

<div class="scrolling-container">
    <div class="scrolling-text-container">
        <p class="scrolling-text">Frete grátis, devolução em 30 dias ou garantia de reembolso.</p>
        <p class="scrolling-text">Frete grátis, devolução em 30 dias ou garantia de reembolso.</p>
        <p class="scrolling-text">Frete grátis, devolução em 30 dias ou garantia de reembolso.</p>
    </div>
</div>

<header class="cabecalho">
    <NavLink @onclick="LimparCampoPesquisa" href="/" class="nav-link">
        <img class="logo" src="images/TVS%20ELETRÔNICA-Photoroom.png" alt="">
    </NavLink>

    <div class="links-cabecalho">
        <NavLink class="nav-link links" href="/" Match="NavLinkMatch.All">Início</NavLink>
        <NavLink class="nav-link links" href="/loja" Match="NavLinkMatch.All">Loja</NavLink>
        <NavLink class="nav-link links" href="/blog" Match="NavLinkMatch.All">Blog</NavLink>
        <NavLink class="nav-link links" href="/contato" Match="NavLinkMatch.All">Contato</NavLink>
    </div>
    
    <div class="hamburger-itens">
        <MudButton Class="mud-button-menu" Color="Color.Primary" Variant="Variant.Text" OnClick="@ToggleDrawer">
            <img class="hamburger-imagem" src="images/icons8-cardápio-144.png" alt="menu"/>
        </MudButton>
        
        <div class="entrar-cadastrar">
            @if (_userLoggedIn == false)
            {
                <section class="menu-entrar-cadastrar">
                    <p><a href="/entrar" class="entrar-cadastrar-texto">Entrar</a> /</p>
                    <a href="/cadastrar" class="entrar-cadastrar-texto">Cadastrar</a>
                </section>
            }
            else
            {
                <MudMenu Style="display: flex; align-self: end; align-items: end;" ActivationEvent="@MouseEvent.MouseOver" AnchorOrigin="Origin.BottomCenter" TransformOrigin="Origin.TopCenter">
                    <ActivatorContent>
                        <div class="profile-div" style="cursor: pointer;">

                            <section class="profile-section">
                                <MudAvatar Color="Color.Primary" Size="Size.Small" Style="color: white;">
                                    @Username[0].ToString().ToUpper()
                                </MudAvatar>
                                <p class="profile-name-text">@Username.Split(' ')[0]</p>
                            </section>

                            <MudIcon Icon="@Icons.Material.Filled.ArrowDropDown" />
                        </div>
                    </ActivatorContent>
                    <ChildContent>
                        <MudMenuItem Style="width: 300px;" Label="Meu Perfil" />
                        <MudMenuItem Style="width: 300px;" Label="Carrinho" />
                        <MudMenuItem Style="width: 300px;" Label="Pedidos" />
                        <MudMenuItem Style="width: 300px;" Label="Sair" />
                    </ChildContent>
                </MudMenu>

            }
        </div>
        
        <a href="/carrinho" class="shopping-cart-div">
            <section class="shopping-cart-background">
                @if (carrinho.UserId != 0)
                {
                    <p class="quantidade-carrinho">@carrinho.CarrinhoItens.Count</p>
                }
                else
                {
                    <p class="quantidade-carrinho">0</p>
                }
            </section>
            <section class="shopping-cart-valortotal">
                @if (carrinho.UserId != 0)
                {
                    <p class="valor-carrinho">@carrinho.ValorTotal.ToString("C")</p>
                }
                else
                {
                    <p class="valor-carrinho">R$0.00</p>
                }
                <hr class="custom-hr-carrinho"/>
                <p class="valor-carrinho">Carrinho</p>
            </section>
        </a>
    </div>
</header>

<MudDrawerContainer Class="mud-height-full">
    <MudDrawer Class="muddrawer-total" @bind-Open="@_open" Style="@(_open ? "" : "display: none;")" Width="300px" Fixed="true" Anchor="Anchor.End" Elevation="1" Variant="DrawerVariant.Temporary" ClipMode="DrawerClipMode.Never" OverlayAutoClose="true">
        <MudDrawerHeader class="mud-drawer-header">
            <MudButton StartIcon="@Icons.Material.Filled.Close" IconSize="Size.Large" Color="Color.Primary" Variant="Variant.Text" OnClick="@ToggleDrawer"/>
            <MudText Typo="Typo.h6">Menu</MudText>
        </MudDrawerHeader>
        <MudNavMenu>
            <MudNavLink Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.AccountBox">
                @if (_userLoggedIn)
                {
                    <h3>@_user.Identity.Name</h3>
                }
                else
                {
                    <NavLink href="/entrar">Entrar</NavLink>
                }
            </MudNavLink>
            <MudNavLink Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.ShoppingCart">Orders</MudNavLink>
            <MudNavLink Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.History">Order History</MudNavLink>
        </MudNavMenu>
    </MudDrawer>
</MudDrawerContainer>

<main style="max-width: 100vw">
    @Body
</main>

<footer class="footer">
    <div class="footer-content">
        <div style="width: 33%" class="footer-logo">
            <h2>TVS ELETRÔNICA</h2>
            <p>Qualidade e inovação para você.</p>
        </div>

        <div style="width: 33%" class="footer-links">
            <h3>Links Rápidos</h3>
            <ul>
                <li><a href="#">Início</a></li>
                <li><a href="#">Sobre</a></li>
                <li><a href="#">Serviços</a></li>
                <li><a href="#">Contato</a></li>
            </ul>
        </div>

        <div style="width: 33%" class="footer-social">
            <img src="images/site-seguro-preto.png" style="max-width: 50%;"/>
        </div>
    </div>

    <div class="footer-bottom" style="max-width: 100vw">
        <p>&copy; 2025 TVS ELETRÔNICA - Todos os direitos reservados.</p>
    </div>
</footer>
