@using Dima.Web.Services
@inherits MainLayoutPage

<MudThemeProvider Theme="WebConfiguration.theme"/>
<MudSnackbarProvider />
<MudDialogProvider/>

<div class="scrolling-container">
    <div class="scrolling-text-container">
        <p class="scrolling-text">Frete grátis, devolução em 30 dias ou garantia de reembolso.</p>
        <p class="scrolling-text">Frete grátis, devolução em 30 dias ou garantia de reembolso.</p>
        <p class="scrolling-text">Frete grátis, devolução em 30 dias ou garantia de reembolso.</p>
    </div>
</div>

<header class="cabecalho">
    <NavLink @onclick="LimparCampoPesquisa" href="/" class="nav-link">
        <img class="logo" src="images/TVS%20ELETRÔNICA-Photoroom.png" alt="">
    </NavLink>

    <div style="display: flex; justify-content: space-between; align-items: center; width: 20%; min-width: 270px;">
        <NavLink class="nav-link links" href="/" Match="NavLinkMatch.All">Início</NavLink>
        <NavLink class="nav-link links" href="/loja" Match="NavLinkMatch.All">Loja</NavLink>
        <NavLink class="nav-link links" href="/blog" Match="NavLinkMatch.All">Blog</NavLink>
        <NavLink class="nav-link links" href="/contato" Match="NavLinkMatch.All">Contato</NavLink>
    </div>
    
    <div class="hamburger-itens">
        <MudButton Style="margin-right: 3vw" Color="Color.Primary" Variant="Variant.Text" OnClick="@ToggleDrawer">
            <img class="hamburger-imagem" src="images/icons8-cardápio-144.png" alt="menu"/>
        </MudButton>
        <NavLink href="@($"/carrinho/{Username}")" class="nav-link">
            <img class="carrinho-imagem" src="images/shopping-cart.png" alt="carrinho"/>
        </NavLink>
    </div>
</header>

<MudDrawerContainer Class="mud-height-full">
    <MudDrawer Class="muddrawer-total" @bind-Open="@_open" Style="@(_open ? "" : "display: none;")" Width="300px" Fixed="true" Anchor="Anchor.End" Elevation="1" Variant="DrawerVariant.Temporary" ClipMode="DrawerClipMode.Never" OverlayAutoClose="true">
        <MudDrawerHeader class="mud-drawer-header">
            <MudButton StartIcon="@Icons.Material.Filled.Close" IconSize="Size.Large" Color="Color.Primary" Variant="Variant.Text" OnClick="@ToggleDrawer"/>
            <MudText Typo="Typo.h6">Menu</MudText>
        </MudDrawerHeader>
        <MudNavMenu>
            <MudNavLink Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.AccountBox">
                @if (_userLoggedIn)
                {
                    <h3>@_user.Identity.Name</h3>
                }
                else
                {
                    <NavLink href="/entrar">Entrar</NavLink>
                }
            </MudNavLink>
            <MudNavLink Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.ShoppingCart">Orders</MudNavLink>
            <MudNavLink Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.History">Order History</MudNavLink>
        </MudNavMenu>
    </MudDrawer>
</MudDrawerContainer>

<main style="max-width: 100vw">
    @Body
</main>

<footer class="footer">
    <div class="footer-content">
        <div style="width: 33%" class="footer-logo">
            <h2>TVS ELETRÔNICA</h2>
            <p>Qualidade e inovação para você.</p>
        </div>

        <div style="width: 33%" class="footer-links">
            <h3>Links Rápidos</h3>
            <ul>
                <li><a href="#">Início</a></li>
                <li><a href="#">Sobre</a></li>
                <li><a href="#">Serviços</a></li>
                <li><a href="#">Contato</a></li>
            </ul>
        </div>

        <div style="width: 33%" class="footer-social">
            <img src="images/site-seguro-preto.png" style="max-width: 50%;"/>
        </div>
    </div>

    <div class="footer-bottom" style="max-width: 100vw">
        <p>&copy; 2025 TVS ELETRÔNICA - Todos os direitos reservados.</p>
    </div>
</footer>
