@page "/"
@using Loja.Core.Models
@inherits HomePage
<PageTitle>TVS - Home</PageTitle>

<img src="images/banner.png" alt="banner" class="banner"/>
<div class="produtos">
    @if (IsBusy)
    {
        <MudProgressCircular Color="Color.Info" Indeterminate="true"/>
    }
    else
    {
        foreach (var produto in Produtos)
        {
            <MudItem>
                <MudCard>
                    <MudCardContent>
                        <h5 style="color: Red;">FRETE GRÁTIS / 6x s/juros</h5>
                        <h3>@produto.Titulo</h3>
                    </MudCardContent>

                    <MudCarousel ShowArrows="true" EnableSwipeGesture="true" TData="Imagem" Indicators="true">
                        @foreach (var imagem in produto.Imagens)
                        {
                            var imagemUrl = $"{WebConfiguration.BackendUrl}{imagem.Url}";
                            <MudCarouselItem>
                                <img src="@imagemUrl" alt="sla" width="80%"/>
                            </MudCarouselItem>
                        }
                    </MudCarousel>

                    <MudCardContent  Style="text-align: start; min-height: 225px; max-height: 225px">
                        <p style="text-decoration: line-through; color: gray;">De R$ @produto.Preco.ToString("F2")</p>
                        <p style="font-size: 1.2em; font-weight: bold; color: red;">Por R$ @produto.Preco.ToString("F2")</p>
                        <p style="color: green;">No PIX (5% de desconto)</p>
                        <p>Ou R$ @produto.Preco.ToString("F2") em até 12x s/ juros no cartão</p>

                        <MudButton Color="Color.Primary" Variant="Variant.Filled" Style="margin-top: 10px; color: white">
                            Adicionar ao Carrinho
                        </MudButton>
                    </MudCardContent>
                </MudCard>
            </MudItem>
        }
    }
</div>


