@page "/produto/{id:long}"
@using Loja.Core.Models
@inherits ProdutoPageCode

<div class="div-background-produto-page">
    @if (IsBusy)
    {
        <MudProgressCircular Color="Color.Info" Indeterminate="true"/>
    }
    else
    {
        <div class="div-principal-produto-page">
            <div class="div-produto-fotos">
                <div class="coluna-fotos">
                    @foreach (var imagem in Produto.Imagens)
                    {
                        var imagemUrl = $"{WebConfiguration.BackendUrl}{imagem.Url}";
                        <MudCard Class="mudcard-coluna-fotos" @onmouseover="() => ChangeMainImage(imagemUrl)">
                            <img class="img-produto-carrossel-home" src="@imagemUrl" alt="sla" width="50px"/>
                        </MudCard>
                    }
                </div>

                <div class="foto-principal-produto-page">
                    <img class="imagem-produto-page" id="mainImage" src="@ImagemPrincipal" alt="Imagem principal"/>
                </div>
            </div>

            <div class="div-produto-descricao">
                <div class="titulo-produto-page">
                    <h2 class="titulo-produto-h2">@Produto.Titulo</h2>
                </div>
                <hr class="custom-hr">
                <div class="valor-produto-page">
                    <p class="valor-produto-page-p">R$ @Produto.Preco.ToString("F2")</p>
                    <p class="desconto-pix">à vista (5% off)</p>
                </div>
                <div class="icons-produto-page">
                    <section class="pagamento-seguranca">
                        <img class="icon-pagamento-seguranca" src="images/icon-payments-and-security._CB643514857_.png"/>
                        <NavLink href="/"><p class="descricao-icon-pagamento">Pagamentos e Segurança</p></NavLink>
                    </section>
                    <section class="envio">
                        <img class="icon-envio" src="images/icon-amazon-delivered._CB406595335_.png"/>
                        <NavLink href="/"><p class="descricao-icon-envio">Informações do envio</p></NavLink>
                    </section>
                    <section class="devolucao">
                        <img class="icon-devolucao" src="images/icon-returns._CB406595335_.png"/>
                        <NavLink href="/"><p class="descricao-icon-devolucao">Política de devolução</p></NavLink>
                    </section>
                </div>
                <hr class="custom-hr">
                <div class="descricao-produto">
                    <h3 class="titulo-informacoes-produto">Informacões sobre o produto:</h3>
                    <ul class="lista-principal-informacoes">
                        <li class="item-lista-produto"><strong>Marca: </strong>...</li>
                        <li class="item-lista-produto"><strong>Modelo: </strong>...</li>
                        <li class="item-lista-produto"><strong>Serie: </strong>...</li>
                        <li class="item-lista-produto"><strong>Tamanho: </strong>...</li>
                        <li class="item-lista-produto"><strong>Informações adicionais: </strong>...</li>
                    </ul>
                </div>
            </div>

            <div class="div-produto-valor">
                <h2 style="margin-bottom: 20px;">R$ @Produto.Preco.ToString("F2")</h2>
                <h2 style="margin-bottom: 20px;" class="desconto-pix">Em estoque</h2>
                <h2 style="margin-bottom: 20px;">Entrega: GRÁTIS</h2>
                <div class="div-produto-itens">
                    <span class="itens-produto-info-valor">
                        <p class="produto-itens-p">Vendido por:</p>
                        <p>TVS Eletrônica</p>
                    </span>
                        <span class="itens-produto-info-valor">
                        <p class="produto-itens-p">Enviado por:</p>
                        <p>Correios</p>
                    </span>
                    <span class="itens-produto-info-valor">
                        <p class="produto-itens-p">Devolução:</p>
                        <p>Elegível</p>
                    </span>
                    <span class="itens-produto-info-valor">
                        <p class="produto-itens-p">Pagamento:</p>
                        <p>Transação segura</p>
                    </span>
                </div>
                <div class="div-mudbuttons-comprar-carrinho">
                    <MudButton Color="Color.Primary" Variant="Variant.Filled" Class="mudbutton-comprar-produto" Style="color: white; margin-bottom: 15px;">
                        COMPRAR
                    </MudButton>

                    <MudButton OnClick="() => AdicionarAoCarrinho(Produto.Id)" Color="Color.Primary" Variant="Variant.Outlined" Class="mudbutton-carrinho-produto">
                        Adicionar ao Carrinho
                    </MudButton>
                </div>
            </div>
        </div>

        <div class="div-principal-recomendacoes">
            <h2 class="titulo-recomendacoes">Recomendações para você</h2>
            <MudCarousel Class="carrossel-principal-recomendacoes" TData="Produto" ShowArrows="true" EnableSwipeGesture="true" Indicators="true">
                @foreach (var grupo in Produtos.Chunk(4))
                {
                    <MudCarouselItem Class="carrossel-item-principal-recomendacoes">
                        @foreach (var itens in grupo)
                        {
                            <NavLink href="@($"/produto/{itens.Id}")">
                                <MudItem>
                                    <MudCard Class="mudcard-carrossel-item">
                                        <MudCardContent Class="mudcard-produto-titulo-recomendacoes">
                                            <h4 class="produto-titulo-recomendacoes">@itens.Descricao</h4>
                                        </MudCardContent>
                                        <hr class="custom-hr">
                                        <MudCarousel Class="carrossel-secundario-recomendacoes" ShowArrows="false" EnableSwipeGesture="true" TData="Imagem" Indicators="true">
                                            @foreach (var imagem in itens.Imagens)
                                            {
                                                var imagemUrl = $"{WebConfiguration.BackendUrl}{imagem.Url}";
                                                <MudCarouselItem Class="carrossel-item-secundario-recomendacoes">
                                                    <img class="img-carrossel-produto-recomendacoes" src="@imagemUrl" alt="sla"/>
                                                </MudCarouselItem>
                                            }
                                        </MudCarousel>
                                        <hr class="custom-hr">
                                        <MudCardContent Class="mudcardcontent-produto-info-recomendacoes">
                                            <p class="produto-preco-antigo-recomendacoes">De R$ @itens.Preco.ToString("F2")</p>
                                            <p class="produto-preco-novo-recomendacoes">Por R$ @itens.Preco.ToString("F2")</p>
                                        </MudCardContent>
                                    </MudCard>
                                </MudItem>
                            </NavLink>
                        }
                    </MudCarouselItem>
                }
            </MudCarousel>
        </div>
        
        <div class="div-principal-produto-page-celular">
            <div class="titulo-produto-page-celular">
                <p class="produto-titulo-celular">@Produto.Titulo</p>
            </div>
            <div class="div-carrossel-produto">
                <MudCarousel Class="carrossel-produto-imagens-produto" ShowArrows="false" EnableSwipeGesture="true" TData="Imagem" Indicators="true">
                    @foreach (var imagem in Produto.Imagens)
                    {
                        var imagemUrl = $"{WebConfiguration.BackendUrl}{imagem.Url}";
                        <MudCarouselItem Class="carrossel-item-home">
                            <img class="img-carrossel-produto-page" src="@imagemUrl" alt="sla"/>
                        </MudCarouselItem>
                    }
                </MudCarousel>
            </div>
        </div>
    }
</div>

