@page "/checkout/{Slug}"
@using System.ComponentModel.DataAnnotations
@using Loja.Core.Models
@inherits CheckoutPage


@inject NavigationManager Navigation

@if (IsBusy)
{
    <MudProgressCircular Color="Color.Info" Indeterminate="true" />
}
else
{
    <div class="div-principal-checkout">
        <div class="div-userinfo-endereco-pagamento">
            <section class="section-userinfo">
                <h2 class="h2-userinfo">Informações pessoais</h2>
                <MudForm Model="UserInfo" @ref="UserInfoForm">
                    <MudTextField Margin="Margin.Dense" Variant="Variant.Outlined" Label="Nome" @bind-Value="UserInfo.FullName" FullWidth Required="true"
                                  RequiredError="O nome é obrigatório" />

                    <MudTextField Margin="Margin.Dense" Variant="Variant.Outlined" Label="Email" @bind-Value="UserInfo.Email" FullWidth
                                  Validation="@(new EmailAddressAttribute().IsValid)" />

                    <MudTextField Margin="Margin.Dense" Variant="Variant.Outlined" Label="Telefone"
                                  FullWidth
                                  Validation="ValidatePhone"
                                  Mask="@(new PatternMask("(00) 00000-0000"))" @bind-Value="UserInfo.PhoneNumber"/>

                    <MudButton OnClick="UserInfoValidation" Disabled="@UserInfoIsValid" Color="Color.Primary">Validar</MudButton>
                </MudForm>
            </section>
            @if (UserInfoIsValid)
            {
                <section class="section-endereco" @ref="EnderecoSection">
                    <h2 class="h2-userinfo">Endereço de entrega</h2>
                    <MudForm Model="Endereco" @ref="UserAdressForm">
                        <div style="display: flex; width: 100%">
                            <MudTextField Style="margin-right: 10px;"
                                Margin="Margin.Dense"
                                Variant="Variant.Outlined"
                                Label="Rua"
                                @bind-Value="Endereco.Rua"
                                FullWidth
                                Required="true"
                                RequiredError="O campo Rua é obrigatório" />

                            <MudTextField
                                Style="width: 90px;"
                                Margin="Margin.Dense"
                                Variant="Variant.Outlined"
                                Label="Número"
                                @bind-Value="Endereco.Numero"
                                Required="true"
                                RequiredError="O campo Número é obrigatório" />
                        </div>

                        <MudTextField
                            Margin="Margin.Dense"
                            Variant="Variant.Outlined"
                            Label="Bairro"
                            @bind-Value="Endereco.Bairro"
                            FullWidth
                            Required="true"
                            RequiredError="O campo Bairro é obrigatório" />

                        <MudTextField
                            Margin="Margin.Dense"
                            Variant="Variant.Outlined"
                            Label="Cidade"
                            @bind-Value="Endereco.Cidade"
                            FullWidth
                            Required="true"
                            RequiredError="O campo Cidade é obrigatório" />

                        <MudTextField
                            Margin="Margin.Dense"
                            Variant="Variant.Outlined"
                            Label="Estado"
                            @bind-Value="Endereco.Estado"
                            FullWidth
                            Required="true"
                            RequiredError="O campo Estado é obrigatório" />

                        <MudTextField
                            Style="width: 200px;"
                            Margin="Margin.Dense"
                            Variant="Variant.Outlined"
                            Label="CEP"
                            @bind-Value="Endereco.CEP"
                            FullWidth
                            Required="true"
                            Mask="@(new PatternMask("00000-000"))"
                            RequiredError="O campo CEP é obrigatório"
                            Validation="ValidateCEP"/>

                        <MudButton OnClick="UserAdressValidation" Disabled="@UserAddressIsValid" Color="Color.Primary">Validar</MudButton>
                    </MudForm>
                </section>
            }
            @if (UserInfoIsValid && UserAddressIsValid)
            {
                <section class="section-pagamento" @ref="PagamentoSection">
                    <h2 class="h2-userinfo">Pagamento</h2>
                    @if (Slug.StartsWith("carrinho-"))
                    {
                        <p style="font-size: 1.2rem">Valor total: @carrinho.ValorTotal.ToString("C")</p>
                    }
                    else if (Slug.StartsWith("produto-"))
                    {
                        <p style="font-size: 1.2rem">Valor total: @produto.Preco.ToString("C")</p>
                    }
                    <MudTextField Label="Nome no Cartão" @bind-Value="Cartao.Nome" FullWidth />
                    <MudTextField Mask="@(new PatternMask("000.000.000-00"))" Label="CPF" @bind-Value="Cartao.CPF" FullWidth />
                    <MudTextField Mask="@(new PatternMask("0000 0000 0000 0000"))" Label="Número do Cartão" @bind-Value="Cartao.Numero" FullWidth />
                    <div style="display: flex; width: 100%">
                        <MudTextField Mask="@(new DateMask("MM/YY", 'Y', 'M'))" Style="width: 50%" Label="Data de Expiração" @bind-Value="Cartao.Expiracao" />
                        <MudTextField Mask="@(new PatternMask("000"))" Style="width: 50%" Label="CVV" @bind-Value="Cartao.CVV" />
                    </div>
                </section>
            }
        </div>

        <div class="div-produtoinfo">
            @if (Slug.StartsWith("carrinho-"))
            {
                <h2 class="h2-produtos-checkout">Produtos:  <span style="font-weight: lighter; font-size: 1.2rem;">@carrinho.CarrinhoItens.Count</span></h2>
                foreach (var item in carrinho.CarrinhoItens)
                {
                    <section class="section-produtos-carrinho">
                        @if (item.Produto.Imagens?.FirstOrDefault() is { } primeiraImagem)
                        {
                            var imagemUrl = $"{WebConfiguration.BackendUrl}{primeiraImagem.Url}";
                            <img class="img-produto-checkout" src="@imagemUrl" alt="Imagem do produto"/>
                        }
                        <p class="titulo-produto-checkout">@item.Produto.Titulo</p>
                        <p class="preco-produto-checkout">@item.Produto.Preco.ToString("C")</p>
                    </section>
                }
                <section class="envio-resumo">
                    <p class="titulo-opcoes-envio">OPÇÕES DE ENVIO</p>
                </section>
            }
            else if ((Slug.StartsWith("produto-")))
            {
                <h2 class="h2-produtos-checkout">Produtos:  <span style="font-weight: lighter; font-size: 1.2rem;">1</span></h2>
                <section class="section-produtos-carrinho">
                    @if (produto?.Imagens?.FirstOrDefault() is { } primeiraImagem)
                    {
                        var imagemUrl = $"{WebConfiguration.BackendUrl}{primeiraImagem.Url}";
                        <img class="img-produto-checkout" src="@imagemUrl" alt="Imagem do produto"/>
                    }
                    <p class="titulo-produto-checkout">@produto?.Titulo</p>
                    <p class="preco-produto-checkout">@produto?.Preco.ToString("C")</p>
                </section>
            }
        </div>
    </div>
}